<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="single_user">
            <h1>User {{ show_single.id }}</h1>
            <div class="info">
                <p>{{ show_single.first_name }} {{ show_single.last_name }}</p>
                <p>Email: {{ show_single.email }}</p>
                <p>Created On: {{ show_single.created_at }}</p>
                <p>Last Updated On: {{ show_single.updated_at }}</p>
            </div>
            <a href="/users/{{ show_single.id }}/edit">Edit</a>
            <a href="/users/{{ show_single.id }}/delete">Delete</a>
        </div>
        <a href="/">Home</a>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='my_script.js') }}"></script>
</body>

</html>